<?xml version="1.0" encoding="UTF-8"?>
<robot name="kuka_lbr_iiwa_14_r820" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- ======== ARG SECTION ========= -->

	<xacro:property name="reduct" value="1" />

	<!-- CAMERA params -->

	<xacro:property name="PI" value="3.1415926535" />
	<xacro:property name="cam_axis_offset" value="0.0" />
	<xacro:property name="cam_res_w" value="1280" />
	<xacro:property name="cam_res_h" value="720" />
	<xacro:property name="prefix" value="" />

</robot>