<launch>
  <!-- SPAWN MODEL TO GAZEBO -->
  <include  file="$(find kuka_lbr_iiwa_gazebo)/launch/kuka_world.launch" />

  <!-- CONTROL SECTION -->
  <include file="$(find kuka_lbr_iiwa_support)/launch/control_tr_lbr_iiwa_14_r820.launch" />

    <!-- CONTROL SECTION -->
  <include file="$(find kuka_lbr_iiwa_control)/launch/set_default_pose_t.launch" />

</launch>

